<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookzone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".orderd_screen"></activity>
        <activity android:name=".buyer_details" />
        <activity android:name=".internshipList" />
        <activity android:name=".trainingList" />
        <activity android:name=".TrainingList" />
        <activity android:name=".InternshipList" />
        <activity android:name=".aboutUs" />
        <activity android:name=".My_Account" />
        <activity android:name=".others" />
        <activity android:name=".internship" />
        <activity
            android:name=".sellBook"
            android:parentActivityName=".user_dashboard" />
        <activity android:name=".bookPurchase" />
        <activity android:name=".user_forgot_password" />
        <activity android:name=".user_dashboard" />
        <activity android:name=".create_user" />
        <activity android:name=".login_user" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>